body {
  margin: 0;
  font-family: 'Georgia', serif;  /* Verwende eine bessere Schriftart für den Text */
  background-color: #f4f4f9;
  color: rgba(51, 51, 51, 0.75); /* Dunklerer Text für bessere Lesbarkeit */
  justify-content: center;
  display: flex;
}
.fussball {
  width: 80%; /* Nimmt 80% des Viewports ein */
  margin: 0 auto; /* Zentriert den Container horizontal */
  max-width: 1200px; /* Optional: Begrenzung der maximalen Breite */
}
.container {
  width: 80%; /* Nimmt 80% des Viewports ein */
  margin: 0 auto; /* Zentriert den Container horizontal */
  max-width: 1200px; /* Optional: Begrenzung der maximalen Breite */
}
nav {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: darkgrey;
  border-radius: 8px;
  width: 80%; /* Nimmt 80% des Viewports ein */
  margin: 0 auto; /* Zentriert den Container horizontal */
  max-width: 1200px; /* Optional: Begrenzung der maximalen Breite */
}

nav a {
  text-decoration: none;
  padding: 8px;
  color: #333;
}

.image-placeholder {
  text-align: center;
  margin: 20px 0;
}
.image-placeholder img{
  display: block;
  margin: 0 auto;
  max-width: 75%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.image-placeholder img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.qubs {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555;
  text-align: center;
  line-height: 1.4;
}
.scrolling-ball {
  margin: 20px 0;
}

.img {
  width: 50%;
}

